LAB4_ROOT=/home/qy-dream/OSH_Project/KVFabric/Lab4
LAB4_RUNTIME=/home/qy-dream/OSH_Project/KVFabric/Lab4/runtime
LLAMA_CPP_DIR=/home/qy-dream/OSH_Project/KVFabric/Lab4/runtime/src/llama.cpp
LLAMA_BUILD_DIR=/home/qy-dream/OSH_Project/KVFabric/Lab4/runtime/src/llama.cpp/build-cpu-rpc
LLAMA_BIN_DIR=/home/qy-dream/OSH_Project/KVFabric/Lab4/runtime/src/llama.cpp/build-cpu-rpc/bin
MODEL_PATH=/home/qy-dream/OSH_Project/KVFabric/Lab4/runtime/models/model.gguf
LOCAL_RPC_PORT=50052
LOCAL_SERVER_PORT=18081
REMOTE_RPC_TUNNEL_PORT=15052
REMOTE_SERVER_TUNNEL_PORT=18081
